Repository hechtcarmel/slack-knowledge-agent: changes, and which lint-staged commands are due for each by the changed paths.
All: cd backend && eslint --fix, cd backend && prettier --write, cd frontend && prettier --write

.lintstagedrc.json:

{
  "backend/**/*.ts": [
    "cd backend && eslint --fix",
    "cd backend && prettier --write"
  ],
  "frontend/**/*.{ts,tsx}": [
    "cd frontend && prettier --write"
  ]
}

feat: introduce UI features and enhancements proposal document
  ui-features-proposal.md
Due: none

pagination
  backend/src/llm/LangChainManager.ts
  backend/src/llm/agents/SlackKnowledgeAgent.ts
  backend/src/llm/memory/SlackMemory.ts
  backend/src/llm/prompts/systemPrompts.ts
  backend/src/llm/tools/index.ts
  backend/src/llm/tools/slack/AnalyzeSearchCompleteness.ts
  backend/src/llm/tools/slack/SearchMessages.ts
  backend/src/llm/tools/slack/SearchMoreMessages.ts
  backend/src/services/api/SlackApiClient.ts
  backend/src/types/index.ts
  frontend/src/components/chat/ChatContainer.tsx
Due: cd backend && eslint --fix, cd backend && prettier --write, cd frontend && prettier --write

chore: update .env.example for Slack and LLM configuration
  .env.example
Due: none

fix: update docker-compose port and refactor error handling in ErrorBoundary component
  docker-compose.yml
  frontend/src/components/ErrorBoundary.tsx
Due: cd frontend && prettier --write

refactor: improve type safety and enhance service integration
  backend/src/api/middleware/errorHandlerFactory.ts
  backend/src/core/app/Application.ts
  backend/src/core/app/ApplicationFactory.ts
  backend/src/core/config/AppConfig.ts
  backend/src/core/config/interfaces.ts
  backend/src/core/container/Container.ts
  backend/src/core/container/interfaces.ts
  backend/src/interfaces/services/ILLMService.ts
  backend/src/llm/tools/index.ts
  backend/src/llm/tools/slack/ListFiles.ts
  backend/src/routes/webhook.ts
  backend/src/server.ts
  backend/src/server_new.ts
  backend/src/services/EventProcessor.ts
  backend/src/services/LLMProviderManager.ts
  backend/src/services/LLMService.ts
  backend/src/services/QueryExecutor.ts
  backend/src/test-integration.ts
  backend/src/test-tools.ts
  backend/src/test-webhook.ts
  backend/src/utils/errorResponseBuilder.ts
Due: cd backend && eslint --fix, cd backend && prettier --write

refactor: enhance event processing and query execution for threaded conversations
  backend/src/services/EventProcessor.ts
  backend/src/services/QueryExecutor.ts
Due: cd backend && eslint --fix, cd backend && prettier --write

feat: add CLAUDE.md for project guidance and development workflow
  CLAUDE.md
Due: none

refactor: update health check status messages for clarity
  backend/src/api/routes/health.routes.ts
Due: cd backend && eslint --fix, cd backend && prettier --write

refactor: remove deprecated server file and update Jest configuration
  backend/jest.config.js
  backend/package.json
  backend/src/server.ts
Due: cd backend && eslint --fix, cd backend && prettier --write

feat: permalinks
  backend/src/interfaces/services/ILLMService.ts
  backend/src/llm/agents/SlackKnowledgeAgent.ts
  backend/src/llm/prompts/systemPrompts.ts
  backend/src/llm/schemas/structuredOutput.ts
  backend/src/llm/tools/slack/GetChannelHistory.ts
  backend/src/llm/tools/slack/GetThread.ts
  backend/src/llm/tools/slack/SearchMessages.ts
  backend/src/routes/query.ts
  backend/src/services/QueryExecutor.ts
  backend/src/services/api/SlackApiClient.ts
  backend/src/types/index.ts
  backend/test-permalinks.ts
  frontend/src/components/ResponseDisplay.tsx
  frontend/src/lib/api.ts
  frontend/src/types/api.ts
Due: cd backend && eslint --fix, cd backend && prettier --write, cd frontend && prettier --write

feat: enhance ResponseDisplay component with references section
  frontend/src/components/ResponseDisplay.tsx
Due: cd frontend && prettier --write

feat: add references section to ChatMessage component and update data handling
  backend/src/llm/prompts/systemPrompts.ts
  frontend/src/components/chat/ChatMessage.tsx
  frontend/src/hooks/chat.ts
  frontend/src/types/chat.ts
Due: cd backend && eslint --fix, cd backend && prettier --write, cd frontend && prettier --write

feat: enhance LLM service and SlackKnowledgeAgent with permalink references
  backend/src/interfaces/services/ILLMService.ts
  backend/src/llm/agents/SlackKnowledgeAgent.ts
  backend/src/llm/schemas/structuredOutput.ts
  backend/src/routes/query.ts
  backend/src/services/QueryExecutor.ts
  frontend/src/components/chat/ChatMessage.tsx
  frontend/src/hooks/chat.ts
  frontend/src/types/chat.ts
Due: cd backend && eslint --fix, cd backend && prettier --write, cd frontend && prettier --write

fix: update permalink description logic and improve metadata checks in ChatMessage component
  backend/src/llm/schemas/structuredOutput.ts
  frontend/src/components/chat/ChatMessage.tsx
Due: cd backend && eslint --fix, cd backend && prettier --write, cd frontend && prettier --write

feat: add ChainOfThought component to visualize agent reasoning steps
  frontend/src/components/ChainOfThought.tsx
  frontend/src/components/ResponseDisplay.tsx
  frontend/src/components/chat/ChatMessage.tsx
Due: cd frontend && prettier --write

refactor: improve ChainOfThought component interaction and layout
  frontend/src/components/ChainOfThought.tsx
  frontend/src/components/chat/ChatMessage.tsx
Due: cd frontend && prettier --write

feat: add metadata footer to ChatMessage component for enhanced message details
  frontend/src/components/chat/ChatMessage.tsx
Due: cd frontend && prettier --write

feat: complete frontend refactor for improved readability and maintainability
  frontend/REFACTOR_SUMMARY.md
  frontend/src/AppFinalOptimized.tsx
  frontend/src/AppRefactored.tsx
  frontend/src/components/channels/ChannelSelectorContainer.tsx
  frontend/src/components/channels/ChannelSelectorContainerOptimized.tsx
  frontend/src/components/chat/ChatContainerOptimized.tsx
  frontend/src/components/chat/ChatContainerRefactored.tsx
  frontend/src/components/chat/ChatHeader.tsx
  frontend/src/components/chat/ChatHeaderOptimized.tsx
  frontend/src/components/chat/ChatInputContainer.tsx
  frontend/src/components/chat/ChatInputContainerOptimized.tsx
  frontend/src/components/chat/ChatMessages.tsx
  frontend/src/components/chat/ChatMessagesOptimized.tsx
  frontend/src/components/layout/AppLayout.tsx
  frontend/src/components/layout/AppLayoutOptimized.tsx
  frontend/src/components/layout/MainContent.tsx
  frontend/src/components/layout/MainContentOptimized.tsx
  frontend/src/components/layout/MobileSidebar.tsx
  frontend/src/components/layout/MobileSidebarOptimized.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/components/layout/SidebarHeader.tsx
  frontend/src/components/layout/SidebarOptimized.tsx
  frontend/src/contexts/AppStateContext.tsx
  frontend/src/hooks/useApp.ts
  frontend/src/hooks/useChannelSelection.ts
  frontend/src/hooks/useChatManager.ts
  frontend/src/hooks/useErrorHandler.ts
  frontend/src/hooks/useLocalStorage.ts
  frontend/src/hooks/useResponsiveLayout.ts
  frontend/src/services/NotificationService.ts
  frontend/src/services/StorageService.ts
Due: cd frontend && prettier --write

feat: add conversation history support to query processing and LLM context
  .gitignore
  backend/src/api/validators/schemas.ts
  backend/src/llm/agents/SlackKnowledgeAgent.ts
  backend/src/llm/prompts/systemPrompts.ts
  backend/src/routes/query.ts
  frontend/src/hooks/chat.ts
  frontend/src/hooks/useApp.ts
  frontend/src/hooks/useChannelSelection.ts
  frontend/src/hooks/useChatManager.ts
  frontend/src/types/chat.ts
Due: cd backend && eslint --fix, cd backend && prettier --write, cd frontend && prettier --write

feat: implement session management and memory configuration for enhanced conversation handling
  .env.example
  MemoryPlan.md
  backend/src/core/app/ApplicationFactory.ts
  backend/src/core/config/AppConfig.ts
  backend/src/core/config/interfaces.ts
  backend/src/core/container/interfaces.ts
  backend/src/interfaces/services/ILLMService.ts
  backend/src/llm/memory/SlackMemory.ts
  backend/src/routes/query.ts
  backend/src/services/AgentManager.ts
  backend/src/services/LLMService.ts
  backend/src/services/QueryExecutor.ts
  backend/src/services/SessionManager.ts
  frontend/src/hooks/chat.ts
  frontend/src/hooks/useChatManager.ts
  frontend/src/types/chat.ts
  frontend/src/utils/session.ts
Due: cd backend && eslint --fix, cd backend && prettier --write, cd frontend && prettier --write

feat(llm): update system prompts for improved information gathering and response requirements
  backend/src/llm/prompts/systemPrompts.ts
Due: cd backend && eslint --fix, cd backend && prettier --write

feat(session): introduce SessionManager for enhanced conversation memory management
  backend/docs/SERVICES.md
  docs/ARCHITECTURE.md
  docs/PROJECT_OVERVIEW.md
  docs/README.md
  frontend/docs/README.md
Due: none

feat(di): introduce Dependency Injection Simplification Plan
  DISimplificationPlan.md
  backend/src/llm/prompts/systemPrompts.ts
Due: cd backend && eslint --fix, cd backend && prettier --write

feat: enhance SlackApiClient and optimize ChannelSelector for better performance
  backend/src/services/api/SlackApiClient.ts
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/ChannelSelector.tsx
  frontend/src/components/channels/ChannelSelectorContainerOptimized.tsx
  frontend/src/components/layout/SidebarComponents.tsx
Due: cd backend && eslint --fix, cd backend && prettier --write, cd frontend && prettier --write

feat(channel): add ChannelItem component and optimize ChannelSelector for better channel management
  frontend/src/components/ChannelItem.tsx
  frontend/src/components/ChannelSelector.tsx
Due: cd frontend && prettier --write

feat(slack): enhance SlackApiClient to support pagination for channel retrieval
  backend/src/services/api/SlackApiClient.ts
Due: cd backend && eslint --fix, cd backend && prettier --write

feat(slack): add getThreadReplies method and enhance thread handling in SlackService
  backend/src/interfaces/services/ISlackService.ts
  backend/src/llm/prompts/systemPrompts.ts
  backend/src/llm/tools/SlackTools.ts
  backend/src/llm/tools/slack/GetThread.ts
  backend/src/services/SlackService.ts
Due: cd backend && eslint --fix, cd backend && prettier --write

feat(slack): add getThreadReplies method and enhance thread handling in SlackService
  backend/channels.txt
  backend/export-channels.ts
  debug-channel.js
  debug-channel.mjs
  debug-missing-channel.ts
Due: cd backend && eslint --fix, cd backend && prettier --write

feat(frontend): refactor state management with Zustand and streamline App component
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/channels/ChannelSelectorContainer.tsx
  frontend/src/components/chat/ChatContainer.tsx
  frontend/src/components/layout/AppLayout.tsx
  frontend/src/contexts/AppStateContext.tsx
  frontend/src/hooks/useApp.ts
  frontend/src/hooks/useChannelSelection.ts
  frontend/src/hooks/useChatManager.ts
  frontend/src/stores/index.ts
  frontend/src/stores/useChannelStore.ts
  frontend/src/stores/useErrorStore.ts
  frontend/src/stores/useSettingsStore.ts
  frontend/src/stores/useUIStore.ts
Due: cd frontend && prettier --write

feat(frontend): update favicon and integrate tooltip functionality
  frontend/index.html
  frontend/package.json
  frontend/public/favicon.png
  frontend/src/App.tsx
  frontend/src/components/channels/ChannelSelectorContainer.tsx
  frontend/src/components/ui/tooltip.tsx
Due: cd frontend && prettier --write

feat(frontend): enhance architecture documentation and state management overview
  docs/ARCHITECTURE.md
  docs/PROJECT_OVERVIEW.md
  frontend/AGENTS.md
  frontend/docs/API.md
  frontend/docs/COMPONENTS.md
  frontend/docs/README.md
  frontend/docs/STATE_MANAGEMENT.md
  frontend/docs/UI_GUIDELINES.md
Due: none

feat(backend): enhance LLM documentation with comprehensive investigation standards
  backend/docs/LLM.md
  backend/src/llm/prompts/systemPrompts.ts
Due: cd backend && eslint --fix, cd backend && prettier --write

feat(frontend): implement embed mode functionality and enhance layout components
  frontend/src/App.tsx
  frontend/src/components/chat/ChatHeader.tsx
  frontend/src/components/chat/ChatInput.tsx
  frontend/src/components/chat/ChatInputContainer.tsx
  frontend/src/components/chat/ChatMessage.tsx
  frontend/src/components/chat/ChatMessages.tsx
  frontend/src/components/layout/AppLayout.tsx
  frontend/src/components/layout/EmbedChannelIndicator.tsx
  frontend/src/components/layout/EmbedLayout.tsx
  frontend/src/hooks/useEmbedConfig.ts
  frontend/src/stores/index.ts
  frontend/src/stores/useChannelStore.ts
  frontend/src/stores/useUIStore.ts
Due: cd frontend && prettier --write

feat(docs): add Iframe Embed Guide for Slack Knowledge Agent integration
  IframeGuide.md
Due: none

feat(docs): update Iframe Guide to include initial greeting message feature
  IframeGuide.md
  frontend/src/components/chat/ChatContainer.tsx
  frontend/src/hooks/useEmbedConfig.ts
  frontend/src/hooks/useInitialMessage.ts
  frontend/src/types/chat.ts
Due: cd frontend && prettier --write

fix(backend): update default LLM model in AppConfig
  backend/src/core/config/AppConfig.ts
Due: cd backend && eslint --fix, cd backend && prettier --write

fix(backend): enhance LLM provider validation and error handling
  backend/src/api/routes/health.routes.ts
  backend/src/core/config/AppConfig.ts
  backend/src/core/config/env.ts
  backend/src/core/config/interfaces.ts
  backend/src/services/AgentManager.ts
  backend/src/services/LLMProviderManager.ts
  backend/src/services/LLMService.ts
  backend/src/services/QueryExecutor.ts
  frontend/src/app.css
Due: cd backend && eslint --fix, cd backend && prettier --write

refactor(backend): update server entry point and improve configuration handling
  backend/docs/README.md
  backend/package.json
  backend/src/core/config/AppConfig.ts
  backend/src/core/config/interfaces.ts
  backend/src/interfaces/services/ILLMService.ts
  backend/src/server.ts
  backend/src/services/LLMProviderManager.ts
Due: cd backend && eslint --fix, cd backend && prettier --write

chore(docker): update environment configuration and Docker setup
  .env.example
  Dockerfile
  InstallExecutableGuide.md
  backend/src/core/config/AppConfig.ts
  backend/src/core/config/interfaces.ts
  docker-compose.yml
Due: cd backend && eslint --fix, cd backend && prettier --write
